.material-icons {
  color: #1a237e !important;
  margin-right: 10px;
  cursor: pointer;
}

.time {
  margin-bottom: 10px !important;
  font-style: italic;
}

.text {
  text-align: center;
  font-size: 18px !important;
}

.disabled {
  color: #c5cae9 !important;
}
